
body {
  background-color:  #F0E2C5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img{
  margin-top: 12vh;
  margin-bottom: 2vh;

  width: 100%;
  height: auto;
  grid-row: 1/25;
  grid-column: 4/13;
}


.image-small {
  width: 100%;
  height: auto;
  grid-row: 1/20;
  grid-column: 4/13;
}

.image-medium {
  width: 100%;
  height: auto;
  grid-row: 1/10;
  grid-column: 4/13;
}

.image-large {
  width: 100%;
  height: auto;
  grid-row: 1/20;
  grid-column: 4/13;
}

.parentcontainer{
  display: grid;
   box-sizing: border-box;
   gap: 5px;
   grid-template-columns: repeat(16, auto);
   grid-template-rows: repeat(24, auto);
min-height:calc(100vh);
}
/*
.button{
  color: aqua;
size: 100vh;
margin: 1cm;
}

circle{
}
/*
#circle{
    animation: pulse;
}

@keyframes  pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        /*
    }
}