
body {
  background-color:  #F0E2C5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img{
  width: 100%;
  height: auto;
}

.parentcontainer{
  display: grid;
   box-sizing: border-box;
   gap: 5px;
   grid-template-columns: repeat(16, auto);
   grid-template-rows: repeat(24, auto);
min-height:calc(100vh);
}

.button{
size: 50vh;
}

circle{
}
/*
#circle{
    animation: pulse;
}

@keyframes  pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        /*
    }
}