body{
}

.parentcontainer{
    display: grid;
   box-sizing: border-box;
   gap: 5px;
   grid-template-columns: repeat(3, auto);
   grid-template-rows: repeat(3, auto);
  /* min-height:calc(100vh - 70px);*/
}
