body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.parentcontainer {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    min-height: calc(100vh);
}

.buttonfather{
}

button {
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 200px;
    border: 2px solid red;
    background: transparent;
    border-radius: 100%;
    left: 42%;
    top: 38%;
    transition: all 2s ease;
}